<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./dist/style.css">
</head>

<body>
    <div class="container"></div>
    	<div class="toolbar"></div>
    		<div class="logo"></div>
    			<form><input type="search"></form>

    <div class="grid">
    	<a href="#">
    		<img src="https://img1.etsystatic.com/057/0/6929669/il_570xN.722007353_8b4v.jpg"
        
    				<span>Etsy</span>	
    	</a>

    			<div>


    </div>
</body>

</html>