<!DOCTYPE html>
<html>

<head>
    <title>Etsy Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./dist/style.css">
</head>

<body>
    <div class="container"></div>
    <div class="toolbar"></div>
    <div class="logo"></div>
    <form>
        <input type="search">
    </form>

    <div class="grid grid-2-400 grid-4-800 grid-6-1024">

        <a href="#">
            <img src="https://img1.etsystatic.com/052/0/10175083/il_224xN.727007247_dwop.jpg">
                <span>Etsy</span>
        </a>
    
        <a href="#">
            <img src="https://img1.etsystatic.com/052/0/8911383/il_224xN.701445615_j49k.jpg">
                <span>Etsy</span>
        </a>

        <a href="#">
            <img src="https://img1.etsystatic.com/048/0/8639655/il_224xN.704245255_lv31.jpg">
                <span>Etsy</span>
        </a>

        <a href="#">
            <img src="https://img1.etsystatic.com/066/0/10331767/il_224xN.777301963_hda0.jpg">
                <span>Etsy</span>
        </a>

        <a href="#">
            <img src="https://img0.etsystatic.com/022/1/8514523/il_224xN.501282602_sqc6.jpg">
                <span>Etsy</span>
        </a>

        <a href="#">
            <img src="https://img1.etsystatic.com/054/0/10369181/il_224xN.772437571_6f83.jpg">
                <span>Etsy</span>
        </a>

        <a href="#">
            <img src="https://img0.etsystatic.com/062/0/7474712/il_224xN.782594402_lipy.jpg">
                <span>Etsy</span>
        </a>

        <a href="#">
            <img src="https://img0.etsystatic.com/045/0/10327767/il_224xN.704466848_leo9.jpg">
                <span>Etsy</span>
        </a>

    <div></div>
</body>

</html>
